.main_btn {
  --btn-hover-brightness: 0.88;

  position: relative;
  padding: 0.75em 1.25em;
  border-radius: 1rem;
  border: 0;

  font-size: 1rem;

  background: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 700;
}