.portal__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;

  *,
  &::before,
  &::after,
  *::before,
  *::after {
    pointer-events: all;
  }
}

.modal {
  z-index: 99999;
}