:root {
  --clr-primary: #ff9000;
  --clr-white: #ffffff;

  --clr-base800: #313642;
  --clr-base800a00: #31364200;
  --clr-base800a60: #31364299;
  --clr-base500: #454A55;
  --clr-base400: #6A6E77;
  --clr-base100: #D0D0D0;
  --clr-base000: #F5F5F5;
}