.point_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  padding: 0.875rem;

  background-color: var(--clr-base500);

  border-radius: 0.75rem;

  .point_card__base {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .point_card__avatar {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-right: 2%;
  }
  
  .point_card__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;

    em {
      font-weight: 700;
      margin-top: 0.125em;
    }
  }

  .point_card__btn {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-primary);

    transition: transform 0.2s ease-in-out;
  }

  .exercise__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.5rem;
  }

  .exercise_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
  }

  .exercise_item + .exercise_item {
    border-top: 2px solid var(--clr-base400);
  }

  .exercise__name, .exercise__points {
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-base100);
  }

  .exercise__points {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-base400);
    height: 2rem;
    width: 5rem;
    border-radius: 0.5rem;
  }
}

.point_card.expanded .point_card__btn{
  transform: rotate(180deg);
}