.header {
  background-color: var(--clr-base500);
  padding: var(--body-padding);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .menu__btn {
    background-color: transparent;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__username {
    flex: 1;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.header__avatar {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-right: 2%;
}